/* Menu e cabeçalho */

.box-cabecalho{
    border:2px solid black;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    display: flex;
    background-color: rgb(2, 32, 58);
}

.box-menu-itens{
    /* border: 2px solid red; */
    width: 30%;
}

.itens-menus{
    display: inline-block;
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

li{
    list-style-type: none;
}

.box-menu-botoes{
    margin-left:65%;
    margin-top: 12px;
    width: 300px;
    height: 40px;
    /* border: 2px solid orange; */
}

.bt-login-menu{
    margin-left: 20px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid orange;
}

.bt-login-menu:hover, #bt-entrar-login:hover, #bt-cadastro-login:hover{
    background-color: #02524F;
    color: white;
    font-weight: bold;
}

#box-contato{
    position: absolute;
    margin-left: 60px;
    width: 220px;
    height: 20px;
    /* border: 2px solid black; */
    border-radius: 5px;
    background-color: rgba(174, 214, 250, 0.2);
    display: none;
}
.menu-contato{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu-contato1{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}



body{
    background-color: #c8d9fe48;
}

/* configurações do Main */



#box-escurece-login{
    margin-top: 0px;
    width: 100%;
    height: 1257px;
    background-color: rgba(40, 40, 40, 0.8);
    position: absolute;
    z-index: 9999999;
}




#box-tudo-corpo{
    width: 100%;
    margin-top: 60px;
    margin-left: 33%;
}

h1{
    margin-left:  10%;
    margin-bottom: 40px;
}

#box-primeiro-paragrafo{
    font-size: 23px;
    width: 33%;
    /* border: 2px solid black; */
    height: 650px;
    display:flex;
}

.span-primeiro-paragrafo{
    font-weight: bold;
    color:rgb(158, 107, 11);
}

h2{
    font-size: 22px;
    margin-left: 15%;
}

#box-segundo-paragrafo{
    margin-top: 100px;
    /* border: 2px solid black; */
    width: 33%;
    height: 450px;
    font-size:20px;
}

.span-segundo-paragrafo{
    font-weight: bold;
}

.box-rodape{
    
    height: 40px;
    /* justify-content: center; */
    margin-left: 37%;
    margin-top: 10px;
    display: block;
}

.span-rodape{
    display: block;
    width: 100%;
    height: 18px;
    margin-top:10px;
    color: white;
  
   
}

.link-git{
    color:white;
    margin-left: 17%;
}

footer{
    width: 100%;
    border: 2px solid black;
    background-color: rgb(2, 32, 58);
    
}

#link-github{
    text-decoration: none;
}


/* container do login */

#secao-login{
    position: absolute;
    margin-top: 10%;
    margin-left: 37%;
    display: none;
    
}

.box-login{
    display: block;
    height: 250px;
    width: 450px;
    border: 2px solid black;
    background-color: cornsilk;
}

#lb-user, #lb-password{
    font-size: 22px;
    width: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 195px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#input-user, #input-password{
    margin-left: 50px;
    width: 350px;
}

#bt-entrar-login{
    margin-top: 20px;
    margin-left: 80px;
    border-radius: 15px;
}


#bt-cadastro-login{
    margin-top: 20px;
    margin-left: 120px;
    border-radius: 15px;
}

#bt-entrar-login, #bt-cadastro-login{
    border: 2px solid orange;
}




/* rodapé */

/* carrosel */
/* 
.carrosel{
    overflow: hidden;
}

.container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.c-d{
    object-fit: cover;
}

.carouselExample{
    width: 400px;
    height: 650px;
} */


